.container {
    width: 1320px;
    margin: 0 auto;
}

.info {
    margin-top: -4px;
    min-height: 1060px;
    background-image: url('../../public/images/background2.png');
    background-repeat: no-repeat;
    &_wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 190px;
        .text {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 590px;
            min-height: 406px;
            color: #fff;
            .maintext {
                font-size: 40px;
                font-family: 'Exo 2';
            }
            ul {
                margin-top: 40px;
            }
            .subtext {
                margin-bottom: 20px;
                padding-left: 20px;
                font-size: 20px;
                list-style-type: none;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    background: #fff;
                    width: 11px;
                    height: 11px;
                    border-radius: 50px;
                    top: 9px;
                    left: 0;
                }
            }
            .btn {
                position: absolute;
                width: 244px;
                height: 60px;
                border: 4px solid #fff;
                margin-top: 20px;
                background-color: rgba(0,0,0,0);
                border-radius: 12px;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                bottom: 0;
                right: 0;
                transition: 0.4s;
                &:hover {
                    background-color: #581536;
                }
            }
        }
        .image {
            img {
                width: 630px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .container {
        width: 1140px;
    }
    .info {
        &_wrapper {
            .image {
                img {
                    width: 527px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .info {
        &_wrapper {
            .text {
                width: 433px;
                min-height: 443px;
                .subtext {
                    font-size: 18px;
                    &:before {
                        top: 7px;
                    }
                }
            }
            .image {
                img {
                    width: 495px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }
    .info {
        min-height: 900px;
        &_wrapper {
            .text {
                width: 296px;
                .maintext {
                    font-size: 35px;
                }
                .subtext {
                    font-size: 15px;
                    &:before {
                        width: 8px;
                        height: 8px;
                        top: 6px;
                        left: 3px;
                    }
                }
                .btn {
                    width: 234px;
                    height: 56px;
                    font-size: 14px;
                    bottom: 38px;
                }
            }
            .image {
                width: 395px;
                img {
                    width: 395px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 540px;
    }
    .info {
        min-height: 770px;
        &_wrapper {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-top: 75px;
            .text {
                width: 533px;
                min-height: 370px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .info {
        &_wrapper {
            gap: 18px;
            .text {
                width: 437px;
                .subtext {
                    &:before {
                        top: 6px;
                        left: 4px;
                    }
                }
                .btn {
                    width: 215px;
                    height: 53px;
                    bottom: 10px;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .info {
        &_wrapper {
            .text {
                width: 300px;
                min-height: 404px;
            }
            .image {
                width: 320px;
                img {
                    width: 320px;
                }
            }
        }
        
    }
}

@media (max-width: 320px) {
    .info {
        &_wrapper {
            .image {
                img {
                    width: 288px;
                    margin-left: 32px;
                }
            }
        }
    }
}