.bar {
    display: none;
    .menu {
        .btn_link {
            text-decoration: none;
        }
        &_li {
            list-style-type: none;
            li {
                margin: 38px 60px;
                padding-bottom: 10px;
            }
            a {
                text-decoration: none;
                color: #fff;
                font-size: 20px;
            }
        }
        &_login {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 40px;
        }
        .user {
            display: flex;
            flex-direction: center;
            justify-content: center;
            gap: 5px;
            position: relative;
            background-color: #ffffff;
            border-radius: 5px;
            padding: 5px 15px;
            transition: 0.5s;
            cursor: pointer;
            &_under-active {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 130px;
                height: 35px;
                background-color: #ffffff;
                border-radius: 5px;
                color: #e40202;
                position: absolute;
                top: 50px;
                 
            }
            &_under {
                display: none;
            }
        }
    } 
}

@media (max-width: 768px) {
    .bar {
        display: flex;
        justify-content: center;
        width: 70%;
        height: 100vh;
        background-color: rgba(0,0,0,0.95);
        z-index: 10;
        position: fixed;
        left: -100%;
        transition: 0.6s all;
    }
    .active {
        left: 0;
    }
}

@media (max-width: 420px) {
    .bar {
        width: 75%;
    }
}