.nav {
    display: flex;
    align-items: center;
    height: 85px;
    background-color: #211313;
    opacity: 0.9;
}

.container {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 133px;
    &_li {
        display: flex;
        gap: 97px;
        list-style-type: none;
        a {
            text-decoration: none;
            color: #fff;
            transition: 0.5s;
            &:hover {
                color: rgb(255, 149, 0);
            }
        }
    }
    &_login {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 124px;
        height: 38px;
        background-color: #fff;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background-color: rgb(255, 149, 0);
        }
        
    }
    
}

.hamburger {
    display: none;
    span {
        display: block;
        width: 35px;
        height: 2px;
        background-color: #fff;
        margin: 7px;
    }
}



@media (max-width: 1400px) {
    .container {
        width: 1140px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }
    .menu {
        gap: 70px;
        &_li {
            gap: 70px;
        }
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        span {
            transition: 0.6s all;
        }
    }
    .active {
        span {
            &:nth-child(1) {
                transform: translateY(6px) rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(-3px) rotate(45deg);
            }
        }
    }
    .menu {
        display: none;
    }
}

