.navigation {
    margin-top: 142px;
    &_item {
        position: relative;
        overflow: hidden;
        background-color: #1E1E1E;
        border-top: 1px solid #898989;
        color: #fff;
        transition: max-height 0.6s;
        .filter_name {
            display: block;
            padding: 18px 20px;
            cursor: pointer;
        }
        &.collapsed {
            max-height: 56px;
        }
        &.expanded {
            max-height: 500px;
        }
        .navigation-toggle {
            position: absolute;
            top: 23px;
            right: 20px; 
            width: 10px;
            height: 10px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }
        .expand {
            transform: rotate(135deg);
        }
        .hide {
            transform: rotate(315deg);
        }
    }
    &:nth-last-child(1) {
        border-bottom: 1px solid #898989;
    }
    .catalog {
        ul {
            background-color: #191919;
            padding: 10px 0;
            li {
                position: relative;
                list-style-type: none;
                margin: 9px 0;
                input[type="checkbox"] {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }
                input[type="checkbox"] + label {
                    position: relative;
                    padding-left: 25px;
                    cursor: pointer;
        
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 16px;
                        height: 16px;
                        border: 1px solid #fff;
                        border-radius: 3px;
                        background-color: transparent;
                    }
                    
                }
        
                input[type="checkbox"]:checked + label:before {
                    background-color: #fff;
                }
                input[type="checkbox"]:checked + label:after {
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 1px;
                    width: 6px;
                    height: 10px;
                    border: solid #000;
                    border-width: 0 2px 2px 0;
                    transform: rotate(44deg);
                }
            }
        }
    }
    .price {
        &_range {
            display: block;
            width: 75%;
            margin: 10px 20px;
        }
        &_value {
            margin-left: 20px;
        }
        
    }
}

@media (max-width: 991px) {
    .navigation {
        margin-top: 89px;
        &_item {
            .filter_name {
                font-size: 14px;
            }
            .price_value {
                font-size: 14px;
            }
        }
        .catalog {
            font-size: 14px;
        }
    }
}

@media (max-width: 768px) {
    .navigation {
        &_item {
            width: 300px;
        }
    }
}

@media (max-width: 576px) {
    .navigation {
        display: block;
        margin: 0 auto;
        padding-top: 80px;
    }
}