.menu {
    display: none;
    height: 100vh;
    width: 75%;
    background-color: #262626;
    position: fixed;
    z-index: 10;
    left: -100%;
    transition: 0.6s all;
}

.active {
    left: 0
}

@media (max-width: 768px) {
    .menu {
        display: block;
        &_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 58%;
            img {
                margin-top: 5px;
            }
            .cancel {
                margin-left: 20px;
                span {
                    display: block;
                    margin-bottom: 5px;
                    height: 2px;
                    width: 30px;
                    background-color: #fff;
                    &:nth-child(1) {
                        transform: translateY(7px) rotate(45deg);
                    }
                    &:nth-child(2) {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        .favorite {
            display: flex;
            gap: 30px;
            margin: 40px 20px 20px 50px;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none; 
            li {
                padding: 25px 0;
                font-size: 20px;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .auth {
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-top: 40px;
            .login {
                width: 140px;
                padding: 8px 0;
                border-radius: 12px;
                border: 2px solid #fff;
                background-color: rgba(0, 0, 0, 0);
                color: #fff; 
                cursor: pointer;
            }
            .sign {
                width: 140px;
                padding: 8px 0;
                border-radius: 12px;
                border: none; 
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 576px) {
    .menu {
        width: 100%;
        &_header {
            width: 60%;
        }
    }
}