.container {
    width: 1320px;
    margin: 0 auto;
}

.content {
    min-height: 1800px;
    background-color: #191919;
    &_wrapper {
        display: grid;
        grid-template-columns: 318px 953px;
        column-gap: 48px;
    }
}


@media (max-width: 1400px) {
    .container {
        width: 1140px;
    }
    
    .content {
        &_wrapper {
            grid-template-columns: 298px 793px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .content {
        &_wrapper {
            grid-template-columns: 298px 526px;
            justify-content: center;
        }
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }

    .content {
        &_wrapper {
            grid-template-columns: 161px 509px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .content {
        min-height: 2292px;
            &_wrapper {
            grid-template-columns: 509px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .content {
        min-height: 1985px;
        &_wrapper {
            grid-template-columns: 320px;
        }
    }
}

