.menu {
    display: none;
    height: 100vh;
    width: 75%;
    overflow-y: scroll;
    background-color: #262626;
    position: fixed;
    z-index: 10;
    left: -100%;
    transition: 0.6s all;
    .favorite {
        .dot1 {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14px;
            height: 14px;
            background-color: #ff0000;
            border-radius: 50px;
            font-size: 11px;
            color: #ffffff;
            left: 11px;
            top: -6px;
        }
        .dot2 {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14px;
            height: 14px;
            background-color: #ff0000;
            border-radius: 50px;
            font-size: 11px;
            color: #ffffff;
            top: -6px;
            left: 61px;
        }
    }
    .user {
        display: flex;
        justify-content: center;
        margin: 10px auto;
        width: 230px;
        position: relative;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 5px 15px;
        transition: 0.5s;
        cursor: pointer;
        &_under-active {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 130px;
            height: 35px;
            background-color: #ffffff;
            border-radius: 5px;
            color: #e40202;
            position: absolute;
            top: 50px;
            transform: translateX(-50%);
            left: 50%;
        }
        &_under {
            display: none;
        }
    }
}

.active {
    left: 0
}

@media (max-width: 768px) {
    .menu {
        display: block;
        &_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 58%;
            img {
                margin-top: 5px;
            }
            .cancel {
                margin-left: 20px;
                span {
                    display: block;
                    margin-bottom: 5px;
                    height: 2px;
                    width: 30px;
                    background-color: #fff;
                    &:nth-child(1) {
                        transform: translateY(7px) rotate(45deg);
                    }
                    &:nth-child(2) {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        .favorite {
            display: flex;
            gap: 30px;
            margin: 40px 50px 20px 50px;
            position: relative;
            &_list {
                position: absolute;
                width: 100%;
                height: 300px;
                border-radius: 6px;
                background-color: #ffffff;
                padding: 10px;
                overflow-y: scroll;
                &_cart {
                    z-index: 10;
                    left: -30px;
                    top: 42px;
                }
                &_heart {
                    z-index: 10;
                    top: 42px;
                }
            }
        }
        &_links {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none; 
            li {
                padding: 25px 0;
                font-size: 20px;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .auth {
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-top: 40px;
            .login {
                width: 140px;
                padding: 8px 0;
                border-radius: 12px;
                border: 2px solid #fff;
                background-color: rgba(0, 0, 0, 0);
                color: #fff; 
                cursor: pointer;
            }
            .sign {
                width: 140px;
                padding: 8px 0;
                border-radius: 12px;
                border: none; 
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .menu {
        .favorite {
            &_list {
                width: 300px;
                &_cart {
                    left: -40px;
                }
                &_heart {
                    left: -40px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .menu {
        width: 100%;
        &_header {
            width: 60%;
        }
        .favorite {
            &_list {
                width: 300px;
                &_cart {
                    left: -40px;
                }
                &_heart {
                    left: -40px;
                }
            }
        }
    }
}