.container {
    width: 1320px;
    margin: 0 auto;
}

.content {
    position: relative;
    min-height: 1800px;
    background-color: #191919;
    &_wrapper {
        display: grid;
        grid-template-columns: 318px 953px;
        column-gap: 48px;
    }
    .owner_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        position: fixed;
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background-color: #ff8400;
        bottom: 50px;
        right: 100px;
        cursor: pointer;
        transition: 0.25s all;
        span {
            width: 31px;
            height: 5px;
            background-color: #ffffff;
            border-radius: 5px;
            &:nth-child(1) {
                transform: translateY(6px) rotate(90deg);
            }
            &:nth-child(2) {
                transform: translateY(-4px);
            }
        }
        &_active {
            transform: rotate(45deg);
        }
    }

}


@media (max-width: 1400px) {
    .container {
        width: 1140px;
    }
    
    .content {
        &_wrapper {
            grid-template-columns: 298px 793px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .content {
        &_wrapper {
            grid-template-columns: 298px 526px;
            justify-content: center;
        }
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }

    .content {
        &_wrapper {
            grid-template-columns: 161px 509px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .content {
        min-height: 2292px;
            &_wrapper {
            grid-template-columns: 509px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .content {
        min-height: 1985px;
        &_wrapper {
            grid-template-columns: 320px;
        }
    }
}

