.sneakers {
    margin-top: 55px;
    .filter {
        display: flex;
        justify-content: flex-end;
        &_sort {
            display: flex;
            align-items: center;
            gap: 10px; 
            padding-left: 10px;
            width: 106px;
            height: 37px;
            font-size: 16px;
            color: #fff;
            background-color: rgba(0,0,0,0);
            border: 1px solid #fff;
            cursor: pointer;
        }
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 67px;
        gap: 49px;
        flex-wrap: wrap;
        margin-top: 50px;
    }
}

@media (max-width: 1400px) {
    .sneakers {
        &_wrapper {
            padding: 0;
        }
    }
}

@media (max-width: 991px) {
    .sneakers {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .sneakers {
        margin-top: 60px;
    }
}

@media (max-width: 576px) {
    .sneakers {
        &_wrapper {
            gap: 20px;
        }
    }
}