.sneakers {
    margin-top: 55px;
    .filter {
        display: flex;
        justify-content: flex-end;
        position: relative;
        &_sort {
            display: flex;
            align-items: center;
            gap: 10px; 
            padding-left: 10px;
            width: 106px;
            height: 37px;
            font-size: 16px;
            color: #fff;
            background-color: rgba(0,0,0,0);
            border: 1px solid #fff;
            cursor: pointer;
        }
        &_block {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 53px;
            width: 136px;
            max-height: 200px;
            background-color: #d9d9d9;
            color: #595959;
            border-radius: 6px;
            z-index: 10;
            span {
                display: block;
                padding: 6px 0;
                font-size: 14px;
                border-bottom: 1px solid #595959;
                cursor: pointer;
                &:last-child {
                    border-bottom: 0;
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: -6px;
                    right: 20px;
                    width: 13px;
                    height: 13px;
                    background-color: #d9d9d9;
                    transform: rotate(45deg);
                }
            }
        }
        .hide {
            opacity: 0;
        }
        .expand {
            opacity: 1;
        }
    }
    &_wrapper {
        display: flex;
        padding: 0 67px;
        gap: 49px;
        flex-wrap: wrap;
        margin-top: 50px;
    }
}

@media (max-width: 1400px) {
    .sneakers {
        &_wrapper {
            padding: 0;
        }
    }
}

@media (max-width: 991px) {
    .sneakers {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .sneakers {
        margin-top: 60px;
    }
}

@media (max-width: 576px) {
    .sneakers {
        &_wrapper {
            gap: 20px;
        }
    }
}